---
import type { CollectionEntry } from "astro:content";
interface Props {
    display? : 1|2;
    post : CollectionEntry<"blog">
}

const { 
    display =2 ,
    post 
} = Astro.props;

const date = new Date(post.data.publishedDate).toDateString();
---

<aside class={`d-flex ${display == 1 && "flex-column position-relative"} gap-2 p-1`}>

    <img class={`rounded-3 object-fit-cover ${display == 1 ? "w-100" : "d-none d-lg-inline col-4"}`} style={display !== 1 ? "height: 12rem" :"height: 20rem;"} loading="lazy" src={post.data.image?.src} alt={post.data.image?.alt}>
    

    <section class="w-100 p-2">

        <div style="top: 17rem;left: .5rem;" class={`${display == 1 ?  "position-absolute" : ""}`}>
            <p class="small">{post.data.tags.map(
                tag => <small class="px-1 shadow-sm bg-body text-capitalize me-1 rounded-0">
                    {tag}
                </small>
            )}</p>
        </div> 

        <h5 class="fw-bold">{post.data.title}</h5>

        <div class="nav justify-content-between"> 
            <span>
                <i class="bi bi-calendar-event me-2"></i> {date}
            </span>

            <span>
                <i title="4+ comments" class="bi bi-hand-thumbs-up"> </i>
                <i title="2+ likes" class="bi bi-chat-square-text ms-2"> </i>
            </span>
        </div>

        <p>
            <p class="line-clamp small overflow-y-hidden">{post.data.description} </p>
            <a href={"/"+post.id.replace("/","/blog/")} class="small fw-bold icon-link icon-link-hover">
                Read blog 
                <i class="bi bi-arrow-right"></i>    
            </a>
        </p>
    </section>
    
</aside>


