---
import type { CollectionEntry } from "astro:content";
interface Props {
    post : CollectionEntry<"blog">
}

const { 
    post 
} = Astro.props;

const date = new Date(post.data.publishedDate).toDateString();
// href={"/"+post.id.replace("/","/blog/")} 
---

<div  class="w-100 h-100 position-relative">

    <img loading="lazy" src={post.data.image.src} alt={post.data.image?.alt} class="h-100 w-100 rounded-3" />

    <section class="position-absolute text-white bottom-0 p-lg-5 p-3 w-100 text-shadow">

        <h5 class="fw-bold">{post.data.title}</h5>

        <p class="fw-light"> 
            <i class="bi bi-calendar-event me-2"></i>
            {date}
        </p>
        
        <div>
            <p class="line-clamp overflow-hidden">{post.data.description}</p>
            <a  href={"/"+post.id.replace("/","/blog/")}  class="small icon-link icon-link-hover">
                Read blog 
                <i class="bi bi-arrow-right"></i>    
            </a>
        </div>
    </section>
</div>