---
import { getLangFromUrl, useTranslations } from 'src/i18n/utils.ts';

type PageType = {
    name: any;
    location: string;
    icon: string;
}


interface Props {
    pages: PageType[],
    advancedPages: PageType[]
}

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const { pages , advancedPages } = Astro.props;
---
<aside class="offcanvas-md offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">

    <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn " data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true" />
        </button>
    </div>

    <section class="offcanvas-body flex-column justify-content-between gap-3 p-3 p-xl-4 vh-100 text-capitalize">

        <div>
            <h5 class="mb-4 fw-bold text-uppercase">
                <i class="fa fa-cube me-1" />
                <span class="d-md-none d-lg-inline ms-2">{t("dashb.name")}</span>
            </h5>
            {pages.map( (item,index)  =>  <label class="dash-link" >
                <input type="radio" class="btn-check" name="host-page" value={item.location} id={`page${index}`} checked={index === 0} autocomplete="off" />
               <i class={`fa fa-${item.icon}`} aria-hidden="true"/>
               <span class="d-md-none d-lg-inline ms-2">{item.name}</span>
           </label>)}
        </div>

        <div class="mt-5">

            <p class="d-md-none d-lg-block text-secondary">
                {t("dashb.accSet")}
            </p>

            <hr class="border border-subtle my-3"/>

            {advancedPages.map( (item,index)  =>  <label class="dash-link" >
                <input type="radio" class="btn-check" name="host-page" value={item.location} id={`page${index+20}`} autocomplete="off" />
                <i class={`fa fa-${item.icon}`} aria-hidden="true"/>
                <span class="d-md-none d-lg-inline ms-2">{item.name}</span>
           </label>)}

            <a href={`/${locale}`} class="dash-link" id="logoutBtn">
                <i class="fa fa-sign-out" />
                <span class="d-md-none d-lg-inline ms-2">{t("nav.logout")}</span>
            </a>
        </div>
        
    </section>

</aside>