---
import Layout from "./Layout.astro";
import BaseFooter from "@components/footers/BaseFooter.astro";
import { getLangFromUrl , useTranslations } from "src/i18n/utils.ts";
import DashboardNavbar from "@components/navbars/DashboardNavbar.astro";
import DashboardHeader from "@components/headers/DashboardHeader.astro";

interface Props {
	title: string;
	description: string;
	keywords: string[];
    pages: {
        name: any;
        location: string;
        icon: string;
    }[]
}

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const advancedPages = [
    {
        name: t("dashb.set"),
        location: `#/settings`,
        icon: "wrench"
    },
    {
        name: t("dashb.profil"),
        location: `#/inbox`,
        icon: "user-o"
    },
    {
        name: t("nav.help"),
        location: `/${locale}/contact-us`,
        icon: "question-circle-o"
    },
    {
        name: t("nav.logout"),
        location: `/logout`,
        icon: "sign-out"
    }
    
];

const {
    pages = [],
	title = "estate-develop",
	description="page description",
	keywords = ["rent","booking","rent houses","book room","villa","appartment"],
} = Astro.props
---

<Layout 
    title={title} 
    description={description} 
    keywords={keywords}
>
    <main class="container-fluid p-0 vh-100 overflow-hidden dashwrapper">

        <nav>
            <DashboardNavbar pages={pages} advancedPages={advancedPages}/>
        </nav>

        <section class="d-flex flex-column gap-1 h-100 overflow-y-auto">
            <DashboardHeader />
                <slot/>
            <BaseFooter />
        </section>

    </main>

    <script src="../js/router.ts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</Layout>