---
import "src/styles/font-awesome.css"; // font awesome icons import
import "src/styles/website.css"; // compiled scss file

interface Props {
	title: string;
	description: string;
	keywords: string[];
}

const {
	title = "estate-develop",
	description="page description",
	keywords = ["rent","booking","rent houses","book room","villa","appartment"]
} = Astro.props;

const { locale } = Astro.params;
---

<!doctype html>
<html lang={locale} dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords.join(",")}>
		<title> {title} | Prototype Estate </title>
		<!-- <link rel="alternate" hreflang="en" href="https://acme.com/en/about" />
		<link rel="alternate" hreflang="de" href="https://acme.com/de/ueber-uns" /> -->
		<!-- {alternateLangs.map((alternate) => (
			<link rel="alternate" hreflang={alternate.lang} href={alternate.url} />
		))} -->
	</head>
	<body class="position-relative" data-bs-theme="blue">
		<slot />


		<aside id="notification-area" class="d-flex flex-column gap-3">

			<div class="mytoast bg-body shadow-lg d-flex gap-3 gap-lg-4  align-items-center justify-content-start p-1 px-2 rounded-pill border border-secondary-subtle">
				<i aria-hidden="true" class="fs-3 fa fa-check-circle text-primary fa-2x"></i>  
        		<div> 
					<b class="fw-bold text-primary">400 </b>
					<br/> small : Deserunt fugiat expedita magnam quasi ea doloribus veniam dolor cum officiis perferendis provident consequuntur maxime assumenda aspernatur atque, esse ipsam quo placeat.
				</div> 
			</div>
	
		</aside>

	</body>
	<script src="../js/main.ts"></script>	
</html>