---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { languages } from "../../../i18n/ui";

import ClientLayout from "@layouts/ClientLayout.astro";
import BlogPostCard from "@components/cards/BlogPostCard.astro";
import BlogPostHCard from "@components/cards/BlogPostHCard.astro";

const { lang } = Astro.params;

export const getStaticPaths = (() => {
    return Object.keys(languages).map( item => {
        return {
            params: { lang : item }
        }
    });
}) satisfies GetStaticPaths;

const posts = await getCollection("blog",({ id }) => {
  return id.startsWith(lang);
});

---
<ClientLayout 
    title="blogs-estate" 
    description="this is the description of blog pages"
    keywords={["all"]}
>

    <h3 class="container my-2 mx-auto">Lastest Posts</h3>

    <header class="container-xxl row g-3 my-2 mx-auto p-0">

        <div style="max-height: max(450px,60vh);" class="col-lg-7">
            <BlogPostHCard post={posts[1]} />
        </div>

        <div class="col-lg-5">
            
            <div>
                <BlogPostHCard post={posts[0]} />
            </div>

            <div class="w-100 p-3">

                <form class="input-group border mb-3">
                    <input type="text" class="form-control border-0" placeholder="keywords, mot cles" aria-label="search" aria-describedby="basic-addon1">
                    <button type="submit" class="input-group-text smaller border-0 bi bi-search"></button>
                </form>

                <h5>Tags: </h5>
    
                <div class="d-flex flex-wrap gap-2">
                    {[1,2,3].map( tag => <a href={`/${lang}/blog/${tag}-${1}-${"none"}`} class="text-capitalize rounded-1 p-1 text-bg-secondary">tag name {tag}</a>)}
                </div>
            </div>
        </div>
    </header>


    

    <main class="container-xxl my-4 mx-auto">

        <h4 class="my-2 mx-auto border-bottom pb-3">Explore Other Posts</h4>

        <ul style="list-style: none;" class="row row-cols-1 row-cols-lg-2 g-2 justify-content-evenly">
            {[1,2,3,4,5,6,7,8,9].map( post => <li>
                <BlogPostCard post={posts[2]} />
            </li>)}
        </ul>


        <section class="nav my-3 gap-xl-2 gap-1 justify-content-between">
        </section>

    </main>

</ClientLayout>
